/* Write CSS Here */
body {
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.name {
	font-size: 40px;
	font-weight: bold;
	color: green;
    margin-bottom: 0.25rem;
}
.game{
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}
#game-board{
    border:6px solid pink;
    margin-left: 2rem;
    margin-right: 2rem;
}

#game-title{
    margin-top: 0.125rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgba(234, 238, 11, 0) 0%, rgba(190, 27, 49, 0.5) 20%, rgba(246, 7, 7, 0) 61%), linear-gradient(rgb(255, 105, 180) 52%, rgb(0, 255, 127) 60%, rgb(10, 226, 104) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
    
  }
  @keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 20px;
    }
  }
